@import '../../mixin.scss';

.recipe {
  & #title { 
    font-size: 36px;
  }
  & .userInfo {
    display: flex;
    align-items: center;
    margin-top: 8px;
    & .userProfileImage { 
      @include flexCenter;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      margin-right: 8px;
    }
    & > p { font-weight: 300; }
    & button {
      @include btn;
      @include btn-small;
      padding: 2px 16px;
      margin-left: 8px;
      letter-spacing: 1px;
    }
  }
  & .uploadDate { 
    font-weight: 300; 
    margin-top: 4px;
    font-size: 14px;
    color: var(--text-primary);
  }
  & .imageContainer {
    display: flex;
    justify-content: center;
    margin: 32px 0;
    & > img {
      max-height: 600px;
      max-width: 90vw;
    }
  }
  & .commentBox {
    display: flex;
    margin: 16px 0;
    & .userProfileImage { 
      @include flexCenter;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      margin-right: 16px;
      flex-shrink: 0;
    }
    & .comment { flex-grow: 1; }
    & .moreBtn {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      @include flexCenter;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
  & .iconsPack {
    display: flex;
    margin-bottom: 32px;
    & div { 
      margin-right: 48px; 
      & span { margin-left: 8px; }
    }
  }
  & .likes, .comments {
    display: flex;
    align-items: center;
  }
  & .ingredients, .recipeContainer {
    color: var(--text-primary);
    & > h1 {
      text-decoration: underline;
      text-decoration-color: var(--primary-color);
      text-decoration-thickness: 4px;
    }
  }
  #addCmt {
    @include btn;
    @include btn-small;
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  & #likeBtn, #commentBtn, #bookmarkBtn, #shareBtn { 
    cursor: pointer;
    stroke-width: 1;
  }
  #recipe, #ingredientList {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 16px;
    margin-bottom: 32px;
    color: var(--text-primary);
    & h2, h3 { font-weight: 500; }
  }
}