@import '../../mixin.scss';

.profile {
  display: flex;
  & .self {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .userProfileImage {
      height: 240px;
      width: 240px;
      @include flexCenter;
      border-radius: 50%;
      font-size: 80px;
    }
    .selfData {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      & .popularity {
        margin: 16px 0;
        > a {
          margin: 0 8px;   
        }
      }
      & #editProfile, #followBtn, #unfollowBtn {
        @include btn;
        @include btn-small;
      }
      & #unfollowBtn {
        border: 2px solid var(--primary-color);
        background: none;
      }
    }
  }
  & .postsData {
    width: 60%;
    & .navigator {
      margin-bottom: 2rem;
      > button {  border: none;
        background: none;
        font-size: 20px;
        font-weight: 600;
        margin-right: 2rem;
        cursor: pointer;
      }
    } 
    .underline {
      text-decoration: underline;
      text-decoration-color: var(--primary-color);
      text-decoration-thickness: 4px;
      text-underline-offset: 8px;
    }
  }
}

@media screen and (max-width: 450px) {
  .profile {
    flex-direction: column;
    .self, .postsData {
      width: 100%;
    }
    .self {
      .userProfileImage {
        width: 120px;
        height: 120px;
        font-size: 40px;
      }
      .selfData {
        margin: 24px 0
      }
    }
  }
}