@import '../../mixin.scss';

.card {
  margin-bottom: 32px;
  cursor: pointer;
  border-radius: 4px;
  @media only screen and (min-width: 1080px) {
    min-width: 455px;
    max-width: 500px;
  }
  @media only screen and (min-width: 600px) and (max-width: 1078px) {
    min-width: 440px;
    max-width: 500px;
  }
  @media only screen and (max-width: 450px) {
    min-width: 280px;
    max-width: 450px;
  }
  &:hover {
    box-shadow: 1px 1px 4px lightslategrey;
  }
  & .imageContainer {
    > img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      aspect-ratio: 10 / 7;
      object-fit: cover;
    }
  }
}

.description {
  padding: 0 8px 8px 8px;
  & h4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: var(--semi-bold-font);
  }

  & .descriptionFooter {
    margin-top: 8px;
    & .userInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & .userProfileImage { 
        @include flexCenter;
        border-radius: 50%;
        margin-right: 10px;
        width: 34px;
        height: 34px;
        @media screen and (max-width: 450px) {
          width: 24px;
          height: 24px;
        }
      }
      & p {
        @media screen and (max-width: 450px) {
          font-size: 14px;
        }
      }
      & p:last-child {
        font-weight: 300;
      }
    }
  }
}

