@import '../../mixin.scss';

.main {
  & > .navbar-input { display: none;}
}
.noLoggedInBtn {
  @include btn;
  @include btn-small;
}
.centerText {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .main {
    & > .navbar-input {
      display: flex;
      margin-bottom: 20px;
      & #searchBox {
        border: .5px solid black;
      }
      & .searchIcon { fill: black;}
    }
  }
}