.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 64px;
  & .navbar-brand {
    color: var(--logo-color);
    font-size: 40px;
    font-weight: var(--semi-bold-font);
  }
  & .navbar-input {
    display: flex;
    & .searchBox {
      height: 32px;
      width: 320px;
      border-radius: 4px;
      margin-right: 10px;
      padding: 0 8px;
      border: none;
    }
  }
  & .navbar-menu {
    font-size: 24px;
    display: flex;
    & .addRecipe {
      background: var(--logo-color);
      border: none;
      outline: none;
      border-radius: 8px;
      margin-right: 32px;
      font-size: 20px;
      padding: 0 8px;
      > a {
        text-decoration: none;
        color: var(--navbar-bg-color);
      }
    }
    & .login {
      margin-right: 32px;
      & > a {
        margin-right:5px;
        text-decoration: none;
        color: white;
      }
    }
    & .user {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    & .authorprofile { 
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}