@import '../../mixin.scss';

.cook {
  
  #recipeTitle {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: .5px lightslategrey solid;
    line-break: anywhere;
    & .ce-toolbar--opened, .ce-inline-toolbar {
      display: none !important;
    }
  }

  #recipeImage {
    margin: 32px auto;
    display: flex;
    justify-content: center;
    & #ImageCross {
      position: absolute;
      right: -16px;
      top: -16px;
      filter: drop-shadow(1px 1px 2px white);
      cursor: pointer;
      z-index: 100;
    }
    & img {
      min-height: 450px;
      max-height: 500px;
      max-width: 90vw;
      object-fit: contain;
    }
  }

  .InputImageContainer {
    background-color: #B7B7B7;
    width: 60%;
    height: 500px;
    margin: 32px auto;
    @include flexCenter;
    
    & button {
      background-color: #5C5959;
      color:white;
      align-self: center;
      border: none;
      font-size: 20px;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
      
      &:hover {
        filter: brightness(85%);
      }
    }
  }
  
  .recipeData {
    #recipe, #ingredientList {
      border: .5px lightslategrey solid;
      height: fit-content;
      min-height: 350px;
      line-break: anywhere;
      & .ce-settings {
        min-width: 0 !important;
        right: 5px;
      }
    }
    #ingredientList {
      margin-bottom: 2rem;
      width: 50%;
    }
  }

  #postRecipe {
    @include btn;
    @include btn-large;
    margin: 32px 0;
  }
}

.codex-editor__redactor { padding-bottom: 0 !important;}
.ce-block__content {
  max-width: initial !important;
  padding: 0 16px;
  @media screen and (max-width: 450px) {
    padding: 0 8px;
  }
}
.ce-toolbar__content { max-width: initial !important;}

@media screen and (max-width: 450px) {
  .cook {
    #recipeTitle {
      font-size: 20px;
    }
    #recipeImage {
      margin: 24px auto;
      img {
        max-width: calc( 100vw - 60px);
        min-height: 200px;
        max-height: 300px;
      }
    }
    .InputImageContainer {
      width: 100%;
      height: 300px;
      button {
        font-size: 16px;
      }
    }
    .recipeData {
      #ingredientList { width: 100%; }
    }
  }
}