@import '../../mixin.scss';

//  login is using few classes from signup file
.form {
  display: flex;
  height: 100vh;
  justify-content: center;
  #loginBannerImage {
    width: 50%;
    object-fit: cover;
  }
  .loginForm {
    background-color: var(--primary-color);
    width: 50%;
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    #loginBtn {
      @include btn(var(--secondary-color), var(--primary-color));
      @include btn-large;
      font-size: 24px;
    }
    .password {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      .hideOrShowpass {
        position: absolute;
        right: 16px;
        bottom: 4px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .form {
    #loginBannerImage { display: none; }
    & .loginForm {
      width: 100%;
      padding: 20px;
      justify-content: center;
      > div {
        margin-bottom: 40px;
      }
    }
  }
}