.form {
  padding: 40px 64px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  > #loginBannerImage {
    width: 40%;
    height: calc(100vh - 80px);
  }
  & .loginForm {
    background-color: var(--logo-color);
    width: 40%;
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & #loginBtn {
      width: 100%;
      background-color: var(--navbar-bg-color);
      color: var(--logo-color);
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 24px;
      padding: 8px;
    }
  }
}