.auth {
  padding: 40px 64px;
}
.form {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  > #loginBannerImage {
    width: 40%;
    height: calc(100vh - 80px);
  }
  & .loginForm {
    background-color: var(--primary-color);
    width: 40%;
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & #loginBtn {
      width: 100%;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 24px;
      padding: 8px;
    }
    & .password {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      & .hideOrShowpass {
        position: absolute;
        right: 16px;
        bottom: 4px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .auth { padding: 0; }
  .form {
    > #loginBannerImage { display: none; }
    & .loginForm {
      width: 100%;
      padding: 20px;
      justify-content: center;
      > div {
        margin-bottom: 40px;
      }
    }
  }
}