* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --navbar-bg-color: #2A222D;
  --logo-color: #ECBB5C;
  --background-color: #FFF6E3;
  --navbar-text-color: #FBFBFB;
  --heading: #000000;
  --text-primary: #272727;
  --text-secondary: #5C5959;
  --notification: #BC0402;
  --follow-btn: #FF6E69;
  --like-btn: #1DA1F2;
  --bookmark-btn: #1DB954;
  --comments-btn: #AAB8C2;
  
  --light-font: 300;
  --regular-font: 400;
  --semi-bold-font: 600;
  --bold-font: 700;
}
.btn:focus, .btn-primary:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}