* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #ECBB5C;
  --secondary-color: #2A222D;
  --follow-btn: #FF6E69;
  --like-btn: #1DA1F2;
  --bookmark-btn: #1DB954;
  --comments-btn: #AAB8C2;

  --text-primary: #272727;
  --text-secondary: #5C5959;
  --notification: #BC0402;
  
  --light-font: 300;
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;
}

.main {
  @media only screen and (min-width: 1080px) {
    padding: 40px 64px;
  }
  @media only screen and (min-width: 600px) {
    padding: 40px 40px;
  }
  @media only screen and (max-width: 450px) {
    padding: 20px 20px;
  }
}
.grid {
  display: grid;
  @media only screen and (min-width: 1080px) {
    grid-template-columns: repeat(auto-fill, minmax(455px, 1fr)); //change from 350-400 to 5-600 for mobile compatibility
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr)); //change from 350-400 to 5-600 for mobile compatibility
  }
  @media only screen and (max-width: 450px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); //change from 350-400 to 5-600 for mobile compatibility
  }
  grid-column-gap: 40px;
  justify-items: center;
} 

.link {
  text-decoration: none;
  color: black;
}
.userLink:hover {
  color: #1a0dab;
}

.btn:focus, .btn-primary:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}